<section class="page">
  {% render 'breadcrumbs', page: page %}
  <div class="panel hv-policy">
    <h1>{{ page.title | default: section.settings.page_title }}</h1>
    {% assign policy_key = page.handle | default: section.settings.page_title | handleize %}
    {% case policy_key %}
      {% when 'shipping' %}
        {% render 'page-content-shipping' %}
      {% when 'returns' %}
        {% render 'page-content-returns' %}
      {% when 'card-condition' %}
        {% render 'page-content-card-condition' %}
      {% when 'privacy' %}
        {% render 'page-content-privacy' %}
      {% else %}
        {{ page.content }}
    {% endcase %}
  </div>
</section>

{% schema %}
{
  "name": "Policy page",
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Page title",
      "default": "Shipping"
    }
  ]
}
{% endschema %}
